@import "tailwindcss";
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in-up {
    animation: fade-in-up 0.6s ease-out;
  }
}

.all-wrap{
  flex-direction: column;
  position: relative
}
.slot-height{
  height: 11rem;
}
.border-pink{
  border-color: #ad2660;
}
.border-pink--2{
  border-color: #db2774;
}
.button-wrap{
  padding: 24px 16px;
}
.button-stop{
  margin-bottom: 24px;
}
.background{
  background-color: #FFE3F2;
}
.background-top{
  background-color: #EE3F87;
}
.background-btn-wrap{
  background-color: #f6c0de; 
}
.background-slot-wrap{
  background-color: #f6c0de; 

}
.btn-start{
  background-color: #fff;
  color: #ad2660;
}
.btn-stop{
  background-color: #fff;
  color: #ad2660;
}
button:disabled, button.disabled{
  background-color: #861043;
}
.music-volume-off{
  margin: 0 auto 20px;
  display: block;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 15px;
  color: #ad2660;
  font-size: 12px;
  font-weight: bold;
}
.music-volume-off.mute{
  background-color: #861043;
  color: #ad2660;
}
.btn-sns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  box-sizing: border-box;
  border-radius: 50%;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  margin-top: 20px;
}
.btn-sns svg {
  fill: #fff;
}
.btn-x {
  background-color: #111319;
}